@{
    ViewData["Title"] = "Book Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow-sm border-0">
                <img class="card-img-top" src="@Model.imagesURL" alt="@Model.Title">
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="font-weight-bold mb-3">@Model.Title</h2>
            <ul class="list-unstyled">
                <li><strong>ISBN:</strong> @Model.ISBN</li>
                <li><strong>Edition:</strong> @Model.Edition</li>
                <li><strong>Price:</strong> @Model.Price</li>
                <li>
                    <strong>Authors:</strong>
                    @for (int i = 0; i < Model.Author_Books.Count; i++)
                    {
                        <span>@Model.Author_Books[i].Author.Name</span>
                        @if (i < Model.Author_Books.Count - 1)
                        {
                            <span>,</span>
                        }
                    }
                </li>
            </ul>
            <a href="/OrderForm">
                <button type="button" class="btn btn-success btn-lg mt-3" data-toggle="collapse" data-target="#contactform3">Contact Seller</button>
            </a>
        </div>
    </div>
</div>