@model IEnumerable<FreshBooks.Models.Book>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search d-flex">
                <input type="text" class="form-control" placeholder="Search...">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="border border-dark">
                <img src="@Html.DisplayFor(Model => item.imagesURL)" width="250" height="250" />
                <h3>@Html.DisplayFor(Model => item.Title)</h3>
                <ul class="product-props">
                    <li>
                        @Html.DisplayNameFor(model => model.ISBN) : @if (item.ISBN is null)
                        {
                            @Html.DisplayText("Test")
                            ;
                        }
                        else
                        {
                            @Html.DisplayFor(Model => item.ISBN)
                            ;
                        }
                    </li>
                    <li>@Html.DisplayNameFor(model => model.Edition) : @Html.DisplayFor(Model => item.Edition)</li>
                    <li>@Html.DisplayNameFor(model => model.Price) : @Html.DisplayFor(Model => item.Price)</li>
                </ul>
            </div>
        </div>

    }
</div>