@inject UserManager<ApplicationUser> UserManager;
@using Microsoft.AspNetCore.Identity;
@{
    ViewBag.Title = "OrderForm";
}
@model OrderViewModel
@{
    ViewBag.Title = "Your Message to the Seller";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script>mapboxgl.accessToken = 'pk.eyJ1Ijoic2NobG9lZGUiLCJhIjoiY2xlZ2ptOHE4MDdtYTN6bnQ2aHM0Y2M1MSJ9.9fLP4vGL_AzFb2TJx1u09A';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [-84.514954, 39.132923],//Longitude and Latitude of UC
            zoom: 14
        });
        map.addControl(new mapboxgl.NavigationControl(), 'top-left');
        this.markerStatus == false;
        function remove() {
            this.marker.remove();
            this.markerStatus == false;
        }
        function setLangsam() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51592, 39.13394])
                .addTo(map);
            this.markerStatus = true;
        };
        function setTUC() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51742, 39.13171])
                .addTo(map);
            this.markerStatus = true;
        };
        function setCRC() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51523, 39.13223])
                .addTo(map);
            this.markerStatus = true;
        };
        function setMainStreet() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51664, 39.13216])
                .addTo(map);
            this.markerStatus = true;
        };
        function setFifthThird() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51328, 39.13094])
                .addTo(map);
            this.markerStatus = true;
        };</script>
}

<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<div id="orderform">
    <form id="Testing" method="post">
        <div class="row">
            <div class="col-md-6 col-lg-5 mb-5">
                <label asp-for="imagesURL" hidden>imagesURL: </label>
                <input type="imagesURL" asp-for="imagesURL" class="form-control" hidden />
                <img src="@Model.imagesURL" class="w-100 rounded" alt="@Model.BookTitle">
            </div>

            <div class="col-md-6 col-lg-7">
                <div class="form-group">
                    <label asp-for="BookTitle">Title: </label>
                    <input type="BookTitle" asp-for="BookTitle" class="form-control" value="@Model.BookTitle" hidden />
                    <h1 class="mb-4">@Model.BookTitle</h1>

                </div>

                <div class="product-props mb-5">
                    <ul class="list-unstyled">

                        <label asp-for="ISBN">ISBN: </label>
                        <input type="ISBN" asp-for="ISBN" class="form-control" hidden />
                        <li>@Model.ISBN</li>

                        <label asp-for="Author">Author: </label>
                        <input type="Author" asp-for="Author" class="form-control" hidden />
                        <li>@Model.Author</li>

                        <label asp-for="Subject">Subject: </label>
                        <input type="Subject" asp-for="Subject" class="form-control" hidden />
                        <li>@Model.Subject</li>

                        <label asp-for="Edition">Edition: </label>
                        <input type="Edition" asp-for="Edition" class="form-control" hidden />
                        <li>@Model.Edition</li>
                    </ul>
                </div>

                <div class="d-flex align-items-center mb-5">
                    <div class="mr-5">
                        <h2 class="h5">Price:</h2>
                        <input type="Edition" asp-for="Price" class="form-control" hidden />
                        <p class="text-primary h4">@Model.Price</p>
                        <br />
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-success" asp-controller="Account" asp-action="Login">Login to Message Seller</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="form-group">
                <label asp-for="BuyerName">First & Last Name: </label>
                <input asp-for="BuyerName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email" hidden>UC Email: </label>
                <input type="email" asp-for="Email" class="form-control" hidden />
            </div>

            <div class="form-group">
                <label asp-for="BookID" hidden>M Number: </label>
                <input type="StudentID" asp-for="BookID" class="form-control" value="@Model.BookID" hidden />
            </div>

            <div class="form-group">
                <label asp-for="Phone">Phone Number: </label>
                <input type="Number" asp-for="Phone" class="form-control" />
            </div>
            <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
            <div id='map' style='width: 400px; height: 300px;'></div>

    <div>
            <h3>Locations:</h3>
            <input type="radio" id="Langsam" onclick="setLangsam()" name="Location" value="Langsam Library" asp-for="Location">
            <label for="Langsam">Langsam Library</label><br>
        </div>

        <div>
            <input type="radio" id="TUC" onclick="setTUC()" name="Location" value="Tangeman University Center/Bookstore (TUC)" asp-for="Location">
            <label for="TUC">Tangeman University Center/Bookstore (TUC)</label><br>
        </div>

        <div>
            <input type="radio" id="CRC" onclick="setCRC()" name="Location" value="Campus Recreation Center/Center Court" asp-for="Location">
            <label for="CRC">Campus Recreation Center/Center Court</label><br>
        </div>

        <div>
            <input type="radio" id="MS" onclick="setMainStreet()" name="Location" value="Main Street" asp-for="Location">
            <label for="MS">Main Street</label><br>
        </div>

        <div>
            <input type="radio" id="53" onclick="setFifthThird()" name="Location" value="Fifth Third Arena (Front Plaza)" asp-for="Location">
            <label for="53">Fifth Third Arena (Front Plaza)</label><br>
        </div>

        <div>
            <input type="radio" id="Other" name="Location" value="Let's choose a location on campus that is an open public place" onclick="remove()" asp-for="Location">
            <label for="Other">Other (Make sure location is an open public place)<input type="text" name="other_reason" /></label><br>
        </div>

    <div class="form-group">
        <br />

        <button class="btn btn-primary" asp-controller="Email" asp-action="SendEmail"><a>Send Message to Buyer</a></button>
        <!--<a type="submit" href="/SuccessSignup" class="btn btn-primary" /><i class="fas fa-envelope"></i> Sign Up</a>-->
        <br />
        <br />
    </div>
}
        </form>
        </div>