@model OrderViewModel
@inject UserManager<ApplicationUser> UserManager;
@using Microsoft.AspNetCore.Identity;
@{
    ViewBag.Title = "Your Message to the Seller";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script>mapboxgl.accessToken = 'pk.eyJ1Ijoic2NobG9lZGUiLCJhIjoiY2xlZ2ptOHE4MDdtYTN6bnQ2aHM0Y2M1MSJ9.9fLP4vGL_AzFb2TJx1u09A';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [-84.514954, 39.132923],//Longitude and Latitude of UC
            zoom: 14
        });
        map.addControl(new mapboxgl.NavigationControl(), 'top-left');
        this.markerStatus == false;
        function remove() {
            this.marker.remove();
            this.markerStatus == false;
        }
        function setLangsam() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51592, 39.13394])
                .addTo(map);
            this.markerStatus = true;
        };

        function setTUC() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51742, 39.13171])
                .addTo(map);
            this.markerStatus = true;
        };
        function setCRC() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51523, 39.13223])
                .addTo(map);
            this.markerStatus = true;
        };
        function setMainStreet() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51664, 39.13216])
                .addTo(map);
            this.markerStatus = true;
        };
        function setFifthThird() {
            if (this.markerStatus == true) {
                remove();
            }
            this.marker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([-84.51328, 39.13094])
                .addTo(map);
            this.markerStatus = true;
        };</script>
}

<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<div id="orderform">
    <form id="Testing" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5 mb-5">
                    <input type="imagesURL" asp-for="imagesURL" class="form-control" hidden />
                    <img src="@Model.imagesURL" class="w-100 rounded" alt="@Model.BookTitle" />
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="form-group">
                        <input type="BookTitle" asp-for="BookTitle" class="form-control" value="@Model.BookTitle" hidden />
                        <h1 class="mb-4">@Model.BookTitle</h1>
                    </div>
                    <ul class="list-unstyled">
                        <li><strong>ISBN:</strong> @Model.ISBN</li>
                        <li><strong>Author:</strong> @Model.Author</li>
                        <li><strong>Subject:</strong> @Model.Subject</li>
                        <li><strong>Edition:</strong> @Model.Edition</li>
                    </ul>
                    <div class="d-flex align-items-center mb-5">
                        <div class="mr-5">
                            <h2 class="h5">Price</h2>
                            <input type="Edition" asp-for="Price" class="form-control" hidden />
                            <p class="text-primary h4">@Model.Price</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card-body">
        <h5 class="card-title">Buyer Information</h5>
        <div class="form-group">
            <label asp-for="BuyerName">First & Last Name: </label>
            <input asp-for="BuyerName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email">UC Email: </label>
            <input type="email" asp-for="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BookID" hidden>M Number: </label>
            <input type="StudentID" asp-for="BookID" class="form-control" value="@Model.BookID" hidden />
        </div>

        <div class="form-group">
            <label asp-for="Phone">Phone Number: </label>
            <input type="Number" asp-for="Phone" class="form-control" />
        </div>

        <h5 class="card-title">Pickup Location</h5>

        <div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location-langsam" value="langsam" onclick="setLangsam()">
                <label class="form-check-label" for="location-langsam">
                    Langsam Library
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location-tuc" value="tuc" onclick="setTUC()">
                <label class="form-check-label" for="location-tuc">
                    Tangeman University Center/Bookstore (TUC)
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location-crc" value="crc" onclick="setCRC()">
                <label class="form-check-label" for="location-crc">
                    Campus Recreation Center/Center Court
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location-mainstreet" value="mainstreet" onclick="setMainStreet()">
                <label class="form-check-label" for="location-mainstreet">
                    Main Street
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location-53" value="53" onclick="setFifthThird()">
                <label class="form-check-label" for="location-53">
                    Fifth Third Arena (Front Plaza)
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location-other" value="other" onclick="remove()">
                <label class="form-check-label" for="location-other">
                    Other (Make sure location is an open public place)
                </label>
                <input type="text" name="other_reason" class="form-control" />
            </div>
        </div>

        <h5 class="card-title">Map</h5>

        <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
        <div id='map' style='width: 100%; height: 300px;'></div>

        <div class="form-group mt-3">
            <button class="btn btn-primary" asp-controller="Email" asp-action="SendEmail" />Send Message to Buyer</a>
        </div>
    </div>
</div>
